*
{
    box-sizing: border-box;
    border:solid 1px rgba(0,0,0,0.3);
}
body
{
    /*border:solid 1px rgba(0,0,0,1);*/
	background-color: rgba(255,255,255,1);
	color:rgba(0,0,0,1);
	font-family:'Segoe UI';
	font-size:medium;
	margin:10px;
	padding:10px;
    text-align:center;
}
.ButtonPanel
{
    /*border:solid 1px rgba(0,0,0,1);*/
    background-color:rgba(224,224,224,1);
    /*min-height:32px;*/
    margin-bottom:4px;
    padding:5px;
    vertical-align:top;
}
.left
{
    text-align:left;
}
.right
{
    text-align:right;
}

.ButtonPanel > div
{
    border:solid 1px rgba(0,0,0,0.3);
    height:32px;
    display:inline-block;
    vertical-align:top;
    padding-left:10px;
    padding-right:10px;
    padding-top:4px;
}
button
{
    height:32px;
    vertical-align:top;
}
button:hover
{
    cursor:pointer;
    border-color:rgba(255,0,0,1);
    background-color:rgba(255,255,255,1);
}

.SvgMain
{
    margin-left:auto;
    margin-right:auto;
    display:block;
    /*border:solid 1px rgba(0,0,0,1);*/
    background-color:rgba(224,224,224,1);
    cursor:default;
}

.debug_center
{
    stroke:rgba(0,0,0,1);
    stroke-width:1;
    stroke-opacity:1;
    fill:rgba(255,255,255,1);
    fill-opacity:1;
    opacity:0.2;
}